@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --c-1: hsl(10, 79%, 65%);
  --c-2: hsl(186, 34%, 60%);
  --c-3: hsl(25, 47%, 15%);
  --c-4: hsl(28, 10%, 53%);
  --c-5: hsl(27, 66%, 92%);
  --c-6: hsl(33, 100%, 98%);
}

html {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* Header */
.header {
  text-align: center;
  background-color: var(--c-1);
  padding: 2.5rem 0;
  color: var(--c-6);
}

.unauthenticated,
.authenticated {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
}

.signin-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  border: 1px solid var(--c-4);
  padding: .6rem 1rem;
  border-radius: 1.5rem;
  font-size: 1.4rem;
  color: var(--c-3);
  transition: .3s all ease-in-out;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
}

.sigin-options {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 45rem;
  margin: 2rem auto 0;
}

.signin-box:hover {
  background-color: var(--c-3);
  color: var(--c-6);
}

.signin-box svg {
  fill: rgba(0, 0, 0, 1);
}

.signin-box:hover svg {
  fill: rgba(255, 255, 255, 1);
}